<!-- footer -->
<footer class="mil-dark-bg">
    <div class="mi-invert-fix">
        <div class="container mil-p-120-60">
            <div class="row justify-content-between">
                <div class="col-md-4 col-lg-4 mil-mb-60">

                    <div class="mil-muted mil-logo mil-up mil-mb-30">Prairie Giraffe</div>

                    <p class="mil-light-soft mil-up mil-mb-30">PO Box 2298<br>Gillette, WY 82717<br>info@prairiegiraffe.com</p>

                    <ul class="mil-social-icons mil-up">
                        <li><a href="#" target="_blank" class="social-icon"> <i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank" class="social-icon"> <i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank" class="social-icon"> <i class="fab fa-instagram"></i></a></li>
                    </ul>

                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="col-md-6 col-lg-7">

                            <nav class="mil-footer-menu mil-mb-60">
                                <ul>
                                    <li class="mil-up mil-active" id="footer-nav-home">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="mil-up" id="footer-nav-services">
                                        <a href="#services">Services</a>
                                    </li>
                                    <li class="mil-up" id="footer-nav-about">
                                        <a href="#about">About</a>
                                    </li>
                                    <li class="mil-up" id="footer-nav-resources">
                                        <a href="#resources">Resources</a>
                                    </li>
                                    <li class="mil-up" id="footer-nav-contact">
                                        <a href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                        <div class="col-md-6 col-lg-5">

                            <ul class="mil-menu-list mil-up mil-mb-60">
                                <li><a href="#privacy" class="mil-light-soft">Privacy Policy</a></li>
                                <li><a href="blog/index.html" class="mil-light-soft">Blog</a></li>
                                <li><a href="#contact" class="mil-light-soft">Contact Me</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mil-center">
                        <p class="mil-light-soft mil-up">© Copyright 2025 • Prairie Giraffe • Everyone Is Welcome</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!-- hidden elements -->
<div class="mil-hidden-elements">
    <div class="mil-dodecahedron">
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mil-pentagon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!-- hidden elements end -->