<!-- footer -->
<footer class="mil-dark-bg">
    <div class="mi-invert-fix">
        <div class="container mil-p-120-60">
            <div class="row justify-content-between">
                <div class="col-md-4 col-lg-4 mil-mb-60">

                    <div class="mil-muted mil-logo mil-up mil-mb-30">Prairie Giraffe</div>

                    <p class="mil-light-soft mil-up mil-mb-30">Get free AI resources:</p>

                    <form class="mil-subscribe-form mil-up">
                        <input type="email" placeholder="Enter your email">
                        <button type="submit" class="mil-button mil-icon-button-sm mil-arrow-place"></button>
                    </form>

                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="col-md-6 col-lg-7">

                            <nav class="mil-footer-menu mil-mb-60">
                                <ul>
                                    <li class="mil-up">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="services.html">Services</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="about.html">About</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="blog.html">Resources</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                        <div class="col-md-6 col-lg-5">

                            <ul class="mil-menu-list mil-up mil-mb-60">
                                <li><a href="#." class="mil-light-soft">Privacy Policy</a></li>
                                <li><a href="blog.html" class="mil-light-soft">Blog</a></li>
                                <li><a href="#." class="mil-light-soft">Free Resources</a></li>
                                <li><a href="contact.html" class="mil-light-soft">Contact Me</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between flex-sm-row-reverse">
                <div class="col-md-7 col-lg-6">

                    <div class="row justify-content-between">

                        <div class="col-md-12 col-lg-12 mil-mb-60">

                            <h6 class="mil-muted mil-up mil-mb-30">Prairie Giraffe</h6>

                            <p class="mil-light-soft mil-up">PO Box 2298<br>Gillette, WY 82717<br><span class="mil-no-wrap">info@prairiegiraffe.com</span></p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-6 mil-mb-60">

                    <div class="mil-vert-between">
                        <div class="mil-mb-30">
                            <ul class="mil-social-icons mil-up">
                                <li><a href="https://www.instagram.com/prairiegiraffe/" target="_blank" class="social-icon"> <i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/prairiegiraffe/" target="_blank" class="social-icon"> <i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/kelleecarroll/" target="_blank" class="social-icon"> <i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <p class="mil-light-soft mil-up">© Copyright 2025 • Prairie Giraffe • Everyone Is Welcome</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->